@import 'styles/utilities.scss';

.payment-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 120px;
  height: 52px;
  background: #506DAD;
  @media screen and (max-width: $tablet) {
    height: 56px;
    padding: 0px;
  }

  .image {
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  .header-title {
    width: 954px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }
}

.payment-out-session {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 20px;
}

.payment-content {
  width: 100%;
  // height: calc(100%- 116px);
  height: 100%;
  margin-top: 24px;
  overflow: auto;
  @media screen and (max-width: $tablet) {
    margin-top: 0px;
    background-color: #f0f0f0;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    @media screen and (max-width: $tablet) {
      margin-bottom: 6px;
    }
  }

  .title {
    padding: 13px 24px;
    height: 48px;
    background: #F0F0F0;
    display: flex;
    border-bottom: 1px solid #D9D9D9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    @media screen and (max-width: $tablet) {
      border: 0;
      background: #FFF;
      height: 20px;
      padding: 16px 10px;
      border-radius: 0px;
    }

    .icon {
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }

    .text {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      margin-left: 10px;
      color: rgba(0, 0, 0, 0.65);

      @media screen and (max-width: $tablet) {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.45);
        text-transform: uppercase;
        margin-top: 8px;
      }
    }
  }

  .delivery-address {
    width: 1020px;
    // height: 124px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;

    @media screen and (max-width: $tablet) {
      border: 0;
      border-radius: 0px;
    }

    .body-text {
      padding: 12px 24px;
      background: #FFFFFF;
      width: 100%;
      border-radius: 8px;

      @media screen and (max-width: $tablet) {
        border: 0;
        border-radius: 0px;
        padding: 10px 24px 12px 24px;
      }

      .name {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #000000;

        @media screen and (max-width: $tablet) {
          color: rgba(0, 0, 0, 0.65);
          font-weight: 500;
        }
      }
      .bulk-head {
        border-right: 1px solid #BFBFBF;
        margin: 0 15px;
        height: 16px;
        margin-top: 3px;

      }

      .address-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.65);
        display: flex;
        align-items: center;
        margin-top: 5px;
      }
    }
  }
  
  .product-info {
    width: 1020px;
    margin-top: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;

    @media screen and (max-width: $tablet) {
      margin-top: 0px;
      font-weight: 400;
      border: 0px;
      border-radius: 0px;
    }

    .table-header {
      padding: 9px 24px;
      height: 40px;
      background: #FFFFFF;
      border-bottom: 1px solid #D9D9D9;
      display: flex;
      @media screen and (max-width: $tablet) {
        display: none;
      }

      .text-header {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #8C8C8C;
        width: 20%;
        text-align: right;
      }

      .large {
        width: 50%;
        text-align: left;
      }
    }

    .list-items-product {
      @media screen and (max-width: $tablet) {
        display: none;
      }

      .item-product {
        display: flex;
        align-items: center;
        padding: 8px 24px;
        border-bottom: 1px dashed #D9D9D9;
  
        .text-header {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          text-align: right;
          color: #595959;
          width: 20%;
        }
  
        .large {
          width: 50%;
          text-align: left;
        }
  
        .attribute-text {
          font-weight: 500;
          font-size: 12px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.65);
        }
  
        .attribute-element {
          font-weight: 700;
          font-size: 12px;
          line-height: 20px;
          color: #595959;
          margin-left: 3px;
        }
  
        .product-name {
          font-size: 14px;
          max-width: 385px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .list-items-product-mobile {
      @media screen and (min-width: $tablet) {
        display: none;
      }

      @media screen and (max-width: $tablet) {
        padding: 0px 21px;
        background-color: #FFFFFF;

        .product-items {
          display: flex;
          border-bottom: 1px dashed #D9D9D9;
          padding-bottom: 12px;
          padding-top: 12px;
        }

        .image {
          border: 1px solid #F0F0F0;
          border-radius: 4px;
        }

        .info {
          margin-left: 12px;
          width: 100%;

          .product-name {
            max-width: 255px;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 22px;
          }

          .attribute-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.65);
          }
    
          .attribute-element {
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
            color: #595959;
            margin-left: 3px;
          }
        }
      }
    }

    .table-footer {
      padding: 12px 24px;
      @media screen and (max-width: $tablet) {
        background-color: #FFF;
      }

      .footer-element {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 0px;
        height: 32px;
        width: 100%;
        @media screen and (max-width: $tablet) {
          justify-content: space-between;
        }
      }

      .label {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #8C8C8C;
        margin-right: 24px;
      }

      .value {
        width: 150px;
        font-weight: 400;
        line-height: 22px;
        font-size: 14px;
        text-align: right;
        color: #595959;
      }

      .total {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #506DAD;
        width: 150px;
      }
    }
  }

  .payment-method {
    width: 1020px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    @media screen and (max-width: $tablet) {
      width: 100%;
      margin-top: 0px;
      border: 0px;
      border-radius: 0px;
      background-color: #FFF;
      margin-bottom: 0px;
    }

    .payment-select {
      padding: 16px 24px;
      border-bottom: 1px dashed #D9D9D9;

      .text {
        margin-left: 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
      }
    }

    .payment-button {
      padding: 16px 24px;
      display: flex;
      justify-content: flex-end;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        width: 153px;
        height: 40px;
        background: #1890FF;
        border-radius: 4px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
        @media screen and (max-width: $tablet) {
          width: 100%;
        }
      }
    }
  }
}

.footer-payment {
  padding: 16px 100px;
  background: #F0F0F0;
  @media screen and (max-width: $tablet) {
    display: none;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    height: 32px;

    .contact {
      display: flex;
      align-items: center;
    }

    .support-text {
      margin-right: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.65);
    }

    .app-mobile {
      display: flex;
    }

    .text-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 22px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }

}


